{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tasks{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('task_list.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% if g.user %}
    <div class="create_form">
      <h2>Add New Task</h2>
      <form method="POST" action="{{ url_for('task_list.create') }}">
          <label for="task_name">Task Name</label>
          <input name="task_name" id="task_name" value="{{ request.form['task_name'] }}" required>
          <input type="submit" value="Add Task">
      </form>
    </div>
  {% else %}
    <p><a href="{{ url_for('auth.login') }}">Log in</a> to manage your tasks.</p>
    <p><a href="{{ url_for('auth.register') }}">Register</a> if you don't have an account yet.</p>
  {% endif %}

  {%  if tasks %}
    {% for task in tasks %}
      <article class="task">
        <header>
          <div>
            <h1>{{ task['task_name'] }}</h1>
            <div class="about">by {{ task['username'] }} on {{ task['create_time'].strftime('%Y-%m-%d') }}</div>
          </div>
          {% if g.user['id'] == task['author_id'] and task['delete_time'] == None %}
            <form action="{{ url_for('task_list.delete', id=task['id']) }}" method="post">
              <input class="task_complete" type="submit" value="Done">
            </form>
          {% endif %}
        </header>
        {% if task['delete_time'] %}
          <p class="delete_time">{{ task['delete_time'] }}</p>
        {% endif %}
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}